.Copage{
    border: 2px solid black;
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Comain{
    border: 1px solid green;
    width: 99%;
    height: 99%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(600px,1fr));

}
.Codivphoto{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172525;
}
.Cophoto{
/* background-color: red; */
width: clamp(280px,500px,600px);
}
.Cophoto1{
  width: 100%;
}
.Coform{
    background-color:#172525;
}
.form{
    border:  2px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
.Coh1{
    color: white;
}
.Coinput{
    width: 90%;
    height: 8%;
    border: none;
    background-color: #172525;
    border-bottom: 3px solid yellowgreen;
    font-size: 23px;
}
.textarea{
    width: 90%;
    border: none;
    background-color: #172525;
    border-bottom: 3px solid yellowgreen;
    font-size: 23px;
}
.checkbox{
    width: 25px;
    height: 25px;
}
.Cop{
    color: white;
}
.Cospan{
    color: yellow;
}
.Cobutton{
    width: 35%;
    height: 10%;
    background-color: yellow;
    font-size: 23px;
    font-weight: bold;
}